In [2]:
import pandas as pd 
import numpy as np   
df = pd.read_csv("Encoding Data.csv")

# Q1: Apply Ordinal encoding.

In [3]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
X = [['Male', 1], ['Female', 3], ['Female', 2]]
enc.fit(X)

OrdinalEncoder()

In [4]:
enc.categories_

[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]

In [5]:
enc.transform([['Female', 3], ['Male', 1]])

array([[0., 2.],
       [1., 0.]])

In [6]:
enc.inverse_transform([[1, 0], [0, 1]])

array([['Male', 1],
       ['Female', 2]], dtype=object)

# Q2: Apply One hot encoding.

In [7]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
X = [['Male', 1], ['Female', 3], ['Female', 2]]
enc.fit(X)

OneHotEncoder(handle_unknown='ignore')

In [8]:
enc.categories_

[array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]

In [9]:
enc.transform([['Female', 1], ['Male', 4]]).toarray()

array([[1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [10]:
enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])

array([['Male', 1],
       [None, 2]], dtype=object)

In [11]:
enc.get_feature_names_out(['gender', 'group'])

array(['gender_Female', 'gender_Male', 'group_1', 'group_2', 'group_3'],
      dtype=object)

# Q3: Apply Frequency Encoding.

In [12]:
fq = df.groupby('nom_0').size()/len(df)

df.loc[:, "{}_freq_encode".format('nom_0')] = df['nom_0'].map(fq)

df = df.drop(['nom_0'], axis=1)

df.head(10)

   id bin_1 bin_2 ord_2  nom_0_freq_encode
0   0     F     N   Hot                0.5
1   1     F     Y  Warm                0.3
2   2     F     N  Cold                0.3
3   3     F     N  Warm                0.2
4   4     T     N  Cold                0.5
5   5     T     N   Hot                0.2
6   6     F     N  Cold                0.5
7   7     T     N  Cold                0.5
8   8     F     N  Warm                0.3
9   9     F     Y   Hot                0.5

# Q4: Apply Binary Encoding.

In [15]:
import category_encoders 
from category_encoders import BinaryEncoder
encoder = BinaryEncoder(cols =['ord_2'])

newdata = encoder.fit_transform(df['ord_2'])

df = pd.concat([df, newdata], axis = 1)

df = df.drop(['ord_2'], axis = 1)
df.head(10)

   id bin_1 bin_2  nom_0_freq_encode  ord_2_0  ord_2_1
0   0     F     N                0.5        0        1
1   1     F     Y                0.3        1        0
2   2     F     N                0.3        1        1
3   3     F     N                0.2        1        0
4   4     T     N                0.5        1        1
5   5     T     N                0.2        0        1
6   6     F     N                0.5        1        1
7   7     T     N                0.5        1        1
8   8     F     N                0.3        1        0
9   9     F     Y                0.5        0        1